.edit-class-page {
    padding: 20px;
}

.edit-class-container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #474343; /* Tło kontenera */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: rgb(255, 255, 255);
}

.edit-class-header-container h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

.edit-class-name-container,
.edit-class-teacher-container,
.edit-class-students-container {
    margin-bottom: 10px;
}

.edit-class-name-container h2,
.edit-class-teacher-container h2,
.edit-class-students-container h2 {
    color: #ffffff; /* Kolor nagłówków */
}

.user-item {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 18px;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.user-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffff00;
}

.error-message {
    color: #d9534f; 
    text-align: center; 
    font-size: 20px; 
    margin-top: 20px; 
}

ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

input[type="text"] {
    color: white;
    width: 100%; 
    max-width: 400px; 
    padding: 10px 20px; 
    font-size: 16px; 
    border: 2px solid #ddd; 
    border-radius: 25px; 
    background-color: #535353; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
}

input[type="text"]::placeholder {
    color: #ffffff; 
    font-style: italic; 
}

input[type="text"]:focus {
    border-color: #aaa; 
    background-color: #727272; 
    outline: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

button {
    background-color: #2f8832; 
    color: white; 
    border: none; 
    border-radius: 25px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
}

button:hover {
    background-color: #45a049; 
    transform: translateY(-2px); 
}

button:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5); 
}
