.responseContainer {
    width: 250px;
    font-weight: bold;
}

.responseError {
    background-color: #f8d7da; 
    color: #721c24; 
    border: 1px solid #c29196; 
    border-radius: 10px; 
    padding: 5px;
    text-align: center; 
    font-size: 16px; 
}

.responseSuccess {
    background-color: #d4edda; 
    color: #155724; 
    border: 1px solid #97d6a6; 
    padding: 5px; 
    border-radius: 10px; 
    text-align: center; 
    font-size: 16px;
}
