.user-data-page{
    padding: 10px;
    min-height: 100vh;
}

.user-data-container {
    color: white;
    padding: 10px 20px;
    border: 1px solid #141414;
    border-radius: 15px;
    background-color: #2e2c2c;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

.header {
    font-size: 1.7em;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 8px 0;
    font-size: 1.1em;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

li strong {
    margin-right: 5px;
    color: #f0db4f;
}

.error-message{
    text-align: center;
    color: white;
}

.buttons-container {
    display: flex;
    justify-content: center; 
    align-items: end; 
    gap: 20px;
    margin-top: 20px;
    height: 100%;
}

.edit-button, .delete-button {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.delete-button {
    background-color: red;
}

.edit-button {
    background-color: green;
}

.delete-button:hover {
    background-color: darkred;
    transform: scale(1.02);
}

.edit-button:hover{
    background-color: darkgreen;
    transform: scale(1.02);
}

.response-container{
    background-color: #036ad8;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}



