.all-users-page {
    padding: 20px;
    min-height: 100vh;
}

h1{
    color: white;
    text-align: center;
}

.header-container {
    padding-bottom: 5px;
}

.header-container h1{
    font-size: 40px;
}

.all-users-container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #474343;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: rgb(114, 114, 114);
}

.user-item {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0; 
    font-size: 18px; 
    color: #ffffff; 
    transition: background-color 0.3s, color 0.3s; 
}

.user-item:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    color: #ffff00; 
}

.error-message {
    color: #d9534f; 
    text-align: center; 
    font-size: 20px; 
    margin-top: 20px; 
}

ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.search-and-add-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 30px;
}

.search-input {
    color: white;
    width: 100%; 
    max-width: 400px; 
    padding: 10px 20px; 
    font-size: 16px; 
    border: 2px solid #ddd; 
    border-radius: 25px; 
    background-color: #535353; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
    /* margin-right: 40px; */
    
}

.search-input::placeholder {
    color: #ffffff; 
    font-style: italic; 
}

.search-input:focus {
    border-color: #aaa; 
    background-color: #727272; 
    outline: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.add-user-button {
    width: 20%;
    background-color: #2f8832; 
    color: white; 
    border: none; 
    border-radius: 25px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
    /* margin-left: 40px; */
}

.add-user-button:hover {
    background-color: #45a049; 
    transform: translateY(-2px); 
}

.add-user-button:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5); 
}

.response-part {
    display: flex;              
    justify-content: center;     
    align-items: center;         
    margin-top: -20px;
}




