.add-subject-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 20px;
    min-height: 100vh;
    color: white;
}

.add-subject-page {
    max-width: 700px;
    width: 100%; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    background-color: #2b2a2a;
    display: flex; /* Flexbox to center items */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
}

.add-subject-page input {
    color: white; 
    width: 80%;
    text-align: center;

    padding: 10px 20px; 
    font-size: 16px; 
    border: 2px solid #ddd; 
    border-radius: 25px; 
    background-color: #535353; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
    margin-bottom: 15px; 
}

.add-subject-page input::placeholder {
    color: #ffffff; 
    font-style: italic; 
}

.add-subject-page input:focus {
    border-color: #aaa; 
    background-color: #727272; 
    outline: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.button-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 20px 0; 
}

.add-subject-button {
    font-weight: bold;
    background-color: #19811d; 
    color: white; 
    border: none; 
    border-radius: 25px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 200px;
    margin-right: 40px;
}

.add-subject-button:hover {
    background-color: #45a049; 
    transform: translateY(-2px); 
}

.add-subject-button:focus {
    outline: none; 
    box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.5); 
}

.checkbox-container {
    display: flex;
    color: white;
    align-items: center;
    margin: 2px 0;
}

.checkbox-container input[type="checkbox"] {
    color: white;
    width: 20px; 
    height: 20px; 
    margin-right: 10px; 
    cursor: pointer; 
}

.checkbox-container label {
    font-size: 18px; 
    color: #ffffff; 
    cursor: pointer; 
}

.checkbox-container label:hover {
    color: #aaacaa; 
    transition: color 0.3s; 
}

.selected-teachers {
    margin: 10px 0;
    margin-bottom: 20px;
}

.remove-button {
    margin-left: 10px;
    background-color: #c0392b; 
    border: none; 
    border-radius: 5px; 
    color: white; 
    padding: 5px 10px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    background-color: #e74c3c; 
}

.add-teacher-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; 
}

.add-teacher-container input{
    width: 400px;
}

.add-teacher-button {
    background-color: #3498db; 
    color: white; 
    border: none; 
    border-radius: 25px; 
    padding: 13px 40px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-bottom: 12px;
    margin-left: 10px;
    font-weight: bold;
}

.add-teacher-button:hover {
    background-color: #2980b9; 
}

.error-container {
    font-weight: bold;
    background-color: #e63623; 
    color: white; 
    padding: 10px; 
    border-radius: 20px; 
    margin-top: 10px; 
    text-align: center;
    width: 60%;
}

.correct-message {
    background-color: #109ec2;
    border: 1px solid #00acc1;
    color: #ffffff;
    padding: 15px;
    margin-top: 20px;
    border-radius: 25px;
    width: 200px;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
    font-weight: bold;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

