.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', sans-serif;
  height: 80vh;
  margin: 0;
  padding: 0;
}

.loginContainer {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  background: linear-gradient(145deg, #E9E4E6, #CDC4CC);
  color: #464655;
  padding: 40px;
  max-width: 450px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.usersData {
  width: 95%;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  margin-top: -20px;
}

.usersData input:focus{
  outline: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.loginInput {
  font-family: 'Trebuchet MS', sans-serif;
  width: 100%;
  padding: 10px 20px; 
  margin-bottom: 15px;
  border: 2px solid #ddd; 
  border-radius: 25px; 
  transition: all 0.3s ease; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  font-size: 16px;
  background-color: #eff4fd;
}

.loginButton {
  width: 50%;
  background-color: #6a85b6;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: auto;
  font-weight: bold;
}

.loginButton:hover {
  background-color: #556a9a;
  color: #eff4fd;
}

.textLabel {
  font-size: 20px;
  margin-bottom: 8px; 
  text-align: left; 
  font-weight: bold;
}

.responseContainer{
  margin-top: -30px;
}
