.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: -50px;
}

.header-text {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 70px !important;
    color: #464655;
    text-align: center;
    letter-spacing: 1px;
}
